#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display:grid;
  grid-template-columns: repeat(12, 1fr); 
}

body {
 
  background-color: #6c98ac;
}
header {
  grid-column: span 12;
  background-color: #b47c7c; 
}

nav { 
  grid-column: span 3;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: rgb(204, 97, 97);
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}
.mainimage {
  float: left;
}
main {
  grid-column: span 6;

}


aside {
  grid-column: span 3;
  background-color: #8db675;
}

footer {
  background-color: rgb(184, 141, 224);
  grid-column: span 12;
}
