body {
  font-family: Georgia, "Times New Roman", serif;

  margin: 0;
  padding: 0;
  color: #000;
}

/* Top title bar */
header {
  background-color: #6f86b6;
  padding: 5px;
}

header h1 {
  margin: 0;
  color: #e8eef9;
}

/* Main content area */
main {
  background-color: #ffffff;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

/* Image styling */
.hero-image {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border: 4px solid white;
}

/* Link styles */
a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

/* Section headers */
h2 {
  color: #3b5fa3;
}
p + b{
  color: #1a3c88;
}

h3 {
  background-color: #f2d500;
  padding: 5px;
  color: #8a0000;
}

h3 + p {
  color: #c42525;

}
h4 {
  background-color: #3f4f1f;
  color: #e6f2c8;
  padding: 5px;
}
h4 + p {
  background-color: rgb(42, 158, 81);
}

h5 {
  background-color: #f2d500;
  padding: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  color: #8a0000;
}

h5 + p {
  background-color: #f2d500;
  padding: 0px;
  padding-top: 5px;
  margin-top: 0;

}

